body {
    margin: 0vh;
    background-color: rgb(255, 254, 249);
}



header{
    display: flex;
    /* background-color: aqua; */
    height: 10vh;
    padding: 1vh;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height: 10vh;
    width: 10vh;
    background-color: gold;
    border-radius: 10vh;
    margin-left: 2vh;
}

.headers_buttons{
    font-size: 20px;
    display: flex;
    
    flex-direction: row;
    width: 100vh;
    justify-content: space-around;
    margin-right: 3vh;
    position: fix;

    
    

}

.header_button{
    color: gold;
    padding: 3vh;
    border-radius: 5px;
    background-color: rgb(255, 254, 249);
    border:0px;
    font-size: 20px;
    transition-delay: 50ms;
    transition: linear;
    
}

.header_button:hover{
    color: rgb(255, 254, 249);
    padding: 3vh;
    background-color: gold;
    border-radius: 5px;

}


.blocks{
    display: flex;
    margin: 0px;
    flex-direction: column;
}
.block{
    height: 100vh;
    
    
}
#b1{
    background-color: aqua;
}
#b2{
    background-color: black;
    color: rgb(255, 254, 249);
}
#b3{
    background-color:burlywood;
}
#b4{
    height: 30vh;
}
a{
    text-decoration: none;
}