html{
    scroll-behavior: smooth;
}


body {
    margin: 0vh;
    background-color: rgb(255, 254, 249);
}



header{
    display: flex;
    /* background-color: aqua; */
    height: 15vh;
    padding: 1vh;
    align-items: center;
    justify-content: space-between;
}



#logotrue{
    width: 12vh;
    margin-left: 3vh;
    
}

.headers_buttons{
    font-size: 20px;
    display: flex;
    
    flex-direction: row;
    width: 100vh;
    justify-content: space-around;
    margin-right: 3vh;
    position: fix;

    
    

}

.header_button{
    color: #f5f092;
    text-align: center;
    padding: 3vh;
    border-radius: 5px;
    background-color: rgb(255, 254, 249);
    border:0px;
    font-size: 20px;
    
}

.header_button:hover{
    text-align: center;
    color: rgb(255, 254, 249);
    padding: 3vh;
    background-color: #f5f092;
    border-radius: 5px;

}


.blocks{
    display: flex;
    margin: 0px;
    flex-direction: column;
}
.block{
    height: 100vh;
    width: 100%;
    padding: 10px;
    
    
}
#b1{
    background-image: url("/ressources/Background\ img-01.png");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 10vh;

}
#b2{
    background-color: black;
    color: rgb(255, 254, 249);
}
#b3{
    background-color:burlywood;
}
#b4{
    height: 30vh;
}
a{
    text-decoration: none;
}

.formulaire{
    display: flex;
    flex-direction: column;

}

.champ{
    width: 90vh;
    height: 40px;
    margin-bottom: 3vh;
}
.champ::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
#projet{
    width: 90vh;
    height: 197px;
}
#projet::placeholder{
    font-size: 15px;

}
#envoyer{
    width: 20vh;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: rgb(248, 241, 114);
    color: rgb(255, 254, 249);
    font-size: 25px;
    
}
#envoyer:hover{
    background-color: rgb(245, 218, 66);
}